*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #ffffff;
    height: 72px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-main{
    margin: 0 auto;
    width: 1182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    height: 72px;
    margin-right: 32px;
}

#add{
    margin-top: 6px;
}

.deposer-une-annonce{
    color: #ffffff;
}

.header-center a{
    font-size: 14px;
    font-weight: 700;
}

#icone-search{
    padding-right: 8px;
}

.header-left{
    display: flex;
}

.header-center-bg_c{
    width: 224px;
    height: 46px;
    background: #85B940;
    border-radius: 7px;
    justify-content: center;
    margin: auto 0;
    margin-right: 19px;
}
/* header coté droit */

.header-right{
    display: flex;
}

.header-center{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black; 
}

header a:hover{
    color: #C0562A;
    font-weight: 700;
}

.header-right-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 23px;
}

.header-dernier-div{
    margin: 0;
}

/* Balise h1 */

h1{
    font-family: Open Sans;
    font-size: 27px;
    text-align: center;
    margin: 26px 0;
}

/* Premiere section */

.container-section-un{
    width: 1030px;
    height: 233px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;
}

label{
    border: 2px solid  #85B940;
    width: 24px;
    height: 23px;
    display: inline-block;
    margin: 4px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

label div{
    width: 18px;
    height: 17px;
    background-color:#ffffff;
    border-radius: 50%;
    ransition: all 0.3 ease;
}

.class-input:checked+label div{
    background-color: #85B940;
    ransition: all 0.3 ease;
}

.class-input{
    display: none;
}

.div-forulaire{
    display: flex;
    padding: 28px 0 0 50px;
}

.span-label{
    margin-right: 7px;
}

.div-formulaire_ODF{
    margin-right: 60px;
}

#faire-un-don{
    color: #ED3B3B;
}