*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #ffffff;
    height: 72px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-main{
    margin: 0 auto;
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    height: 72px;
    margin-right: 32px;
}

#add{
    margin-top: 6px;
}

.deposer-une-annonce{
    color: #ffffff;
}

.header-center a{
    font-size: 14px;
    font-weight: 700;
}


.header-left{
    display: flex;
}

.header-center-bg_c{
    width: 224px;
    height: 46px;
    background: #85B940;
    border-radius: 7px;
    justify-content: center;
    margin: auto 0;
    margin-right: 19px;
}
/* header coté droit */

.header-right{
    display: flex;
}

.header-center{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black; 
}

header a:hover{
    color: #C0562A;
    font-weight: 700;
}

.header-right-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 33px;
}

.header-add{
    width: 224px;
    height: 46px;
    background: #85B940;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.icone-add{
    margin-top: 5px;
    margin-right: 5px;
}

.add{
    color: #FFFFFF;
}


/* Balise h1 */

h1{
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin: 26px 0;
    color: #336699;
    margin: 48px 0;
}

/* Premiere partie de la section un */

.container-section-un{
    width: 1180px;
    height: 233px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;
}

.label-un{
    border: 2px solid  #85B940;
    width: 24px;
    height: 23px;
    display: inline-block;
    margin: 4px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

label div{
    width: 18px;
    height: 17px;
    background-color:#ffffff;
    border-radius: 50%;
    ransition: all 0.3 ease;
}

.class-input:checked+label div{
    background-color: #85B940;
    ransition: all 0.3 ease;
}

.class-input{
    display: none;
}

.div-forulaire{
    display: flex;
    padding: 28px 0 0 50px;
}

.span-label{
    margin-right: 7px;
}

.div-formulaire_ODF{
    margin-right: 60px;
}

.div-formulaire_O{
    margin-left: 50px;
}

#faire-un-don{
    color: #ED3B3B;
}

/* Deuxieme ligne de la de la premiere section */

.box-un{
    position: relative;
}

.select-categories{
    position: relative;
    background-color: #F4F6F7;
    width: 216px;
    height: 44px;
    padding: 0 25px 0 32px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 0px 5px;
    appearance: none;
}

select-categories::after{
    content: '\25BC'
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #010911;
}

.option-categories{
    display: flex;
}

#chevron{
    position: absolute;
    right: 375px;
    top: 282px;
}

.box-deux{
    width: 1px;
    height: 44px;
    background: #8197B3;
}

.box-trois_quatre{
    width: 354px;
    height: 44px;
    border: none;
    background: #F4F6F7;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;
    margin-right: 76px;
}

.box-quatre{
    width: 403px;
    margin-right: 0;
}

/* conteneur niveau deux de la section deux */

.container-section-deux{
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

/* niveau trois de la section deux */

.bouton-prix{
    box-sizing: border-box;
    width: 65px;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid #A8B4C0;
    border-radius: 16px;
    text-align: center;
    padding-top: 5px;
    margin: 13px 0 0 65px;
}

/* niveau 4 de la section deux */
.bouton-on_off{
    width: 47px;
    height: 30px;
    background: #A8B4C0;
    border-radius: 15px 13px 13px 15px;
    margin-right: 17px;
}

.bouton-on_off_milieu{
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #A8B4C0;
    border-radius: 50%;
    color: #A8B4C0;
    text-align: center;
    padding-top: 3px;
}

.conteneur-bouton-on-off{
    display: flex;
    align-items: center;
    margin: 8px 0 0 65px;
}

.conteneur-bouton_recherche{
    width: 236px;
    height: 45px;
    background: #85B940;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
}

/*                   2em section                */

.titre-categories{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #336699; 
    padding-top: 55px;
    margin-bottom: 40px;
}

.section_deux{
    width: 100%;
    height: 911px;  
    background: #FFFFFF;
    margin-top: 100px;
}

.container-section_deux{
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 98px;
}

/* 1er bloc conteneur section deux*/

.ul-top-categorie{
    display: flex;
    justify-content: space-between;
}

.text-top-categorie{
    position: relative;
    bottom: 27px;
    text-align: center;
    background: #00000080;
    border-radius: 0px 0px 7px 7px;
    color: white;
}

/* 2em bloc conteneur section deux*/

.titre-rejoindre-communaute{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    position: relative;
    bottom: 60px;
}

.titre-bleu-rejoindre-communaute{
    color: #336699
    ;
}

.rectangle-blanc{
    position: relative;
    width: 489px;
    height: 221px;
    background: #FEF0E9;
    border-radius: 8px;
    bottom: 230px;
    left: 4px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    padding: 32px 64px 39px 38px;
}

.rectangle-blanc-bold{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: justify;
}

.rectangle-blanc_container-text{
    adding: 32px 64px 39px 38px;
    width: 386px;
    height: 103px;
}

/* Bouton deposer une annonce */

#Déposer-une-annonce{
    width: 235px;
    height: 44px;
    background: #85B940;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

/* Pour appliquer des marges auto */

.marging-auto{
    margin: 0 auto;
    width: 1180px;
}

/* Conteneur du bloc communauté */

.container-communaute{
    margin-bottom: 80px;
}

.text-avec_assigame{
    position: relative;
    bottom: 240px;
}

/* troisieme section */

.section-trois{

}

.container-section_trois{
    width: 100%;
    height: 567px;
    background: rgba(51, 102, 153, 0.15);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

#avis{
    font-style: normal;
    font-weight: 600;
    font-size: 36px; 
    color: #336699;
    text-align: center;
    padding: 32px 0 17px 0;
}

.bouton-donner-avis{
    position: relative;
    width: 236px;
    height: 37px;
    background: #85B940;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
    bottom: 40px;
}

.text-avis-pertinant{
    margin-left:60px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    position: relative;
    bottom: 48px;
}

/* les commentaires  */

.bock-bul_commentaire{
    position: relative;
    margin: 22px  0 0 60px;
}

.bul{
    width: 428px;
    height: 73px;
    left: 207px;
    top: 1641px;
    
    background: #FAFAFA;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 25px 0px;
}

.bul-commentaire{
    position: relative;
    width: 364px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    bottom: 67px;
    left: 30px;
}

.nom-bul{
    position: relative;
    left: 70px;
    bottom: 59px;
    height: 45px;
}

.nom{
    width: 119px;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;   
    color: #336699;
    margin-bottom: 10px;
}

/* deuxieme bul commentaire */

.bul-deux{
    width: 279px;
    height: 73px;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 25px 0px;
}

.bul-commentaire-deux{
    position: relative;
    width: 215px;
    height: 70px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    bottom: 67px;
    left: 30px;
}

/* Troisieme bul commentaire */

.bul-commentaire-trois{
    position: relative;
    width: 314px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    text-align: justify;
    bottom: 67px;
    left: 30px;
}

.bul-trois{
    width: 378px;
    height: 73px;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 25px 0px;
}

/* grand-bock-bul_commentaire pour deplacer le contenu vers le haut */

.grand-bock-bul_commentaire{
    position: relative;
    bottom: 48px;
}

/* grand conteneur pour le flex */

#container-bock-bul_commentaire{
    display: flex;
}

#img-avis{
    position: relative;
    left: 100px;
    bottom: 60px;
}

/* bouton lire tous les avis */

#lire-avis{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 39px;
    
}

#lien-avis{
    width: 162px;
    height: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ED3B3B;
}

/*      4em section       */

.contenaire-nos_partenaires{
    width: 100%;
    height: 361px;
    left: 0px;
    top: 2044px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.title-nos-partenaires{
    width: 202px;
    height: 35px;
    font-weight: 600;
    font-size: 26px;
    color: #336699;
    margin: 0 auto;
    padding: 63px 0 57px 0;
}

.logo-partenaires{
    display: flex;
    justify-content: space-between;
}

#logo-cercle_or{
    margin-left: 60px;
    position: relative;
    bottom: 20px;
}

#logo-ecobank{
    margin-right: 60px;
}

/*           5em  section          */

.container-localisation{
    width: 100%;
    height: 627px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
}

#title-localisation{
    width: 151px;
    height: 35px;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #336699;
    padding: 57px 0 54px 0;
    margin: 0 auto;
}

/*            6em section           */

.container-contactez-nous{
    width: 753px;
    height: 508px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;
}